<!doctype html>
<html lang="ko">
    <head>
    </head>
    <body>
        <div class="container">
            <br> <br>
            {{#comment}}
                <div>{{content}}</div>
                <div style="text-align: right"> <h6>작성자: {{writer}}</h6></div>
                {{#isMine}}
                    <div style="text-align: right">
                        <form method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input class="btn btn-outline-secondary" value="삭제" type="submit">
                        </form>
                    </div>
                {{/isMine}}
            {{/comment}}
        </div>
    </body>
</html>