<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>friendMail</title>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">요청한 친구 이름</th>
                        <th scope="col">요청한 친구 아이디</th>
                        <th scope="col">친구 추가</th>
                        <th scope="col">친구 차단</th>
                    </tr>
                </thead>
                {{#friends}}
                    <tbody>
                        <tr>
                            <td>{{name}}</td>
                            <td>{{uuid}}</td>
                            <td><button value="{{uuid}}" type="button" class="save btn btn-outline-secondary">친구 추가</button></td>
                            <td><button value="{{uuid}}" type="button" class="delete btn btn-outline-secondary">친구 차단</button></td>
                        </tr>
                    </tbody>
                {{/friends}}
            </table>
        </div>
    </body>
   <script src="/static/saveFriend.js"></script>
</html>