<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>like</title>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div style="text-align: right" class="container">
            {{#like}}
                {{#isMine}}
                    <div>
                        <i class="fa-solid fa-heart"></i>
                        {{cnt}}
                    </div>
                {{/isMine}}
                {{#isNotMine}}
                    <div class="not-mine">
                        <i id="isNot" class="fa-regular fa-heart"></i>
                        <span id="cnt">{{cnt}}</span>
                    </div>
                {{/isNotMine}}
            {{/like}}
        </div>
    </body>
    <script src="https://kit.fontawesome.com/27dd9ac1bb.js" crossorigin="anonymous"></script>
    <script src="/static/like.js"></script>
</html>