<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>member</title>
    </head>
    <body>
        <form method="post" action="/member">
            <input placeholder="아이디를 입력해주세요" type="text" name="uuid" required> <br>
            <input placeholder="이름을 입력해주세요" type="text" name="name" required> <br>
            <input placeholder="비밀번호를 입력해주세요" type="password" name="password" required> <br>
            <input type="submit">
        </form>
    </body>
</html>